//Block

.button {
  background-color: $medium-blue;
  color: $off-white;
  display: inline-block;
  border: none;
  font-weight: 300;
  line-height: 1;
  font-size: $font-size-large;
  padding: $s-size;
  text-decoration: none;
}


//Modifiers
.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}